<div class="row">
{% if include.custom_array == true %}
    {% assign people_array = include.array %}
{% else %}
    {% assign people_array = page.associated-people %}
{% endif %}

{% if people_array != empty and people_array != '' and people_array != null %}
    {% assign site-people = site.people %}
    {% assign assigned-people = people_array %}
    {% for assigned-person in assigned-people %}
        {% for site-person in site-people %}
            {% if  assigned-person == site-person.relative_path  %}
                {% if include.display-card == true %}

                <div class="row team-member">   
                    {% if include.image == true and site-person.image != empty and site-person.image != '' and site-person.image != null %} 
                    <div class="small-12 medium-3 large-4 columns">
                        <img class="profile-img" src="{{site.baseurl}}/{{ site-person.image }}" />
                      </div>
                      {% endif %}
                      <div class="small-12 medium-9 large-8 columns">
                        {% if include.name == true and site-person.name != empty and site-person.name != '' and site-person.name != null %}
                            <h3 class="{{ site-person.name }} {{include.class}}">{{ site-person.name }}</h3>
                        {% endif %}
                        <p class="member-info">
                                {% if include.professional-title == true and site-person.professional-title != empty and site-person.professional-title != '' and site-person.professional-title != null %}
                                <span class="{{ site-person.professional-title }} {{include.class}}"><strong>Title:</strong> {{ site-person.professional-title }}</span><br>
                                {% endif %}
                                {% if include.link-to-bio-page == true and site-person.link-to-bio-page != empty and site-person.link-to-bio-page != '' and site-person.link-to-bio-page != null %}
                                <span class="{{ site-person.link-to-bio-page }} {{include.class}}"></strong>Bio:</strong> <a href="{{ site-person.link-to-bio-page }}">{{ site-person.link-to-bio-page }}</a></span><br>
                                {% endif %}
                                {% if include.link-to-personal-website == true and site-person.link-to-personal-website != empty and site-person.link-to-personal-website != '' and site-person.link-to-personal-website != null %}
                                <span class="{{ site-person.link-to-personal-website }} {{include.class}}">Website: <a href="{{ site-person.link-to-personal-website }}">{{ site-person.link-to-personal-website }}</a></span><br>
                                {% endif %}
                                {% if include.linkedin == true and site-person.linkedin != empty and site-person.linkedin != '' and site-person.linkedin != null %}
                                <span class="{{ site-person.linkedin }} {{include.class}}"><a href="{{ site-person.linkedin }}">Linkedin</a></span><br>
                                {% endif %}
                                {% if include.twitter == true and site-person.twitter != empty and site-person.twitter != '' and site-person.twitter != null %}
                                <span class="{{ site-person.twitter }} {{include.class}}"><a href="{{ site-person.twitter }}">Twitter</a></span><br>
                                {% endif %}
                                {% if include.facebook == true and site-person.facebook != empty and site-person.facebook != '' and site-person.facebook != null %}
                                <span class="{{ site-person.facebook }} {{include.class}}"><a href="{{ site-person.facebook }}">Facebook</a></span><br>
                                {% endif %}
                                {% if include.instagram == true and site-person.instagram != empty and site-person.instagram != '' and site-person.instagram != null %}
                                <span class="{{ site-person.instagram }} {{include.class}}"><a href="{{ site-person.instagram }}">Instagram</a></span>
                                {% endif %}
                        </p>
                        
                    </div>
                </div> 





                    <div class="small-12 medium-6 column">
                        <div class="radius bordered shadow card">
                            
                            <div class="card-divider">
                                {% if include.name == true and site-person.name != empty and site-person.name != '' and site-person.name != null %}
                                <h3 class="{{ site-person.name }} {{include.class}}">{{ site-person.name }}</h3>
                                {% endif %}
                            </div>
                            <div class="card-section">
                        
                                {% if include.professional-title == true and site-person.professional-title != empty and site-person.professional-title != '' and site-person.professional-title != null %}
                                <p class="{{ site-person.professional-title }} {{include.class}}"><strong>Title:</strong> {{ site-person.professional-title }}</p>
                                {% endif %}
                                {% if include.link-to-bio-page == true and site-person.link-to-bio-page != empty and site-person.link-to-bio-page != '' and site-person.link-to-bio-page != null %}
                                <p class="{{ site-person.link-to-bio-page }} {{include.class}}"></strong>Bio:</strong> <a href="{{ site-person.link-to-bio-page }}">{{ site-person.link-to-bio-page }}</a></p>
                                {% endif %}
                                {% if include.link-to-personal-website == true and site-person.link-to-personal-website != empty and site-person.link-to-personal-website != '' and site-person.link-to-personal-website != null %}
                                <p class="{{ site-person.link-to-personal-website }} {{include.class}}">Website: <a href="{{ site-person.link-to-personal-website }}">{{ site-person.link-to-personal-website }}</a></p>
                                {% endif %}
                                {% if include.linkedin == true and site-person.linkedin != empty and site-person.linkedin != '' and site-person.linkedin != null %}
                                <p class="{{ site-person.linkedin }} {{include.class}}"><a href="{{ site-person.linkedin }}">Linkedin</a></p>
                                {% endif %}
                                {% if include.twitter == true and site-person.twitter != empty and site-person.twitter != '' and site-person.twitter != null %}
                                <p class="{{ site-person.twitter }} {{include.class}}"><a href="{{ site-person.twitter }}">Twitter</a></p>
                                {% endif %}
                                {% if include.facebook == true and site-person.facebook != empty and site-person.facebook != '' and site-person.facebook != null %}
                                <p class="{{ site-person.facebook }} {{include.class}}"><a href="{{ site-person.facebook }}">Facebook</a></p>
                                {% endif %}
                                {% if include.instagram == true and site-person.instagram != empty and site-person.instagram != '' and site-person.instagram != null %}
                                <p class="{{ site-person.instagram }} {{include.class}}"><a href="{{ site-person.instagram }}">Instagram</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>    
                    
                {% else %}
                    {% if include.professional-title == true and site-person.professional-title != empty and site-person.professional-title != '' and site-person.professional-title != null %}
                    <p class="{{ site-person.professional-title }} {{include.class}}"><strong>Title:</strong> {{ site-person.professional-title }}</p>
                    {% endif %}
                    {% if include.link-to-bio-page == true and site-person.link-to-bio-page != empty and site-person.link-to-bio-page != '' and site-person.link-to-bio-page != null %}
                    <p class="{{ site-person.link-to-bio-page }} {{include.class}}"></strong>Bio:</strong> <a href="{{ site-person.link-to-bio-page }}">{{ site-person.link-to-bio-page }}</a></p>
                    {% endif %}
                    {% if include.link-to-personal-website == true and site-person.link-to-personal-website != empty and site-person.link-to-personal-website != '' and site-person.link-to-personal-website != null %}
                    <p class="{{ site-person.link-to-personal-website }} {{include.class}}">Website: <a href="{{ site-person.link-to-personal-website }}">{{ site-person.link-to-personal-website }}</a></p>
                    {% endif %}
                    {% if include.linkedin == true and site-person.linkedin != empty and site-person.linkedin != '' and site-person.linkedin != null %}
                    <p class="{{ site-person.linkedin }} {{include.class}}"><a href="{{ site-person.linkedin }}">Linkedin</a></p>
                    {% endif %}
                    {% if include.twitter == true and site-person.twitter != empty and site-person.twitter != '' and site-person.twitter != null %}
                    <p class="{{ site-person.twitter }} {{include.class}}"><a href="{{ site-person.twitter }}">Twitter</a></p>
                    {% endif %}
                    {% if include.facebook == true and site-person.facebook != empty and site-person.facebook != '' and site-person.facebook != null %}
                    <p class="{{ site-person.facebook }} {{include.class}}"><a href="{{ site-person.facebook }}">Facebook</a></p>
                    {% endif %}
                    {% if include.instagram == true and site-person.instagram != empty and site-person.instagram != '' and site-person.instagram != null %}
                    <p class="{{ site-person.instagram }} {{include.class}}"><a href="{{ site-person.instagram }}">Instagram</a></p>
                    {% endif %}
                {% endif %}
            {% endif %}
            
        {% endfor %}
    {% endfor %}
{% endif %}
</div>