<!-- FOOTER ROW -->
<div class="row expanded social-icons-row">
{% include social-icons.html %}
</div>
<div class="row expanded footer">
	<!-- <div class="column small-12"><p class="center-align"><a class="button rounded white" href="{{ site.baseurl }}/team/">About the S3 Committee</a></p></div>
	<div class="column small-12"><p class="center-align"><a href="http://www.acm.org/special-interest-groups/volunteer-resources/officers-manual/policy-against-discrimination-and-harassment">ACM Policy Against Discrimination and Harassment for Members and Event Attendees</a></p>
	</div> -->
	{% for section in site.layout-sections  %}
		{% if section.slug == "footer-content" %}	
		<div class="column small-12"><span class="center-align">
			
			{% for section in site.layout-sections  %}
				{% if section.slug == "footer-content" %}
				<span class="center-align project-lead-logo"><img src="{{site.baseurl}}/{{ section.project-lead-logo }}"></span>
				{% endif %}
			{% endfor %}
			<hr>
		
		</div>
			<div class="column small-12"><span class="center-align">{% include partners.html %}</span><hr></div>
			<div class="column small-12"><span class="center-align">
			
				{% for section in site.layout-sections  %}
					{% if section.slug == "footer-content" %}		
					<span class="center-align project-sponsor-logo"><img src="{{site.baseurl}}/{{ section.project-sponsor-logo }}"></span>
					{% endif %}
				{% endfor %}
				<hr>

			</div>
			<div class="column small-12"><span class="center-align">{{ section.description}}</span></div>
		{% endif %}
	{% endfor %}
	<div class="column small-12"><p class="center-align">Copyright {{ site.title 2017 }} – {{ 'now' | date: "%Y" }}</p></div>
</div>


