<div class="row row white expanded border-bottom-gray">
    <div class="columns top-bar stacked-for-medium">
      <div class="show-for-medium-only row align-center top-bar-title">
          {% if page.remove-duplicate-logo == true %}
              <a class="masthead show-for-small-only" href="/"><img alt="website logo image" src="{{site.baseurl}}/assets/img/thriving-ag-logo-web@2x.jpg"/></a>
          {% else %}
               <a class="masthead masthead-padding" href="{{site.baseurl}}/"><img style="width:400px; height:auto;" alt="website logo image homepage link" src="{{site.baseurl}}/assets/img/thriving-ag-logo-web@2x.jpg"/></a>
          {% endif %}
         
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-button">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
      </div>
      <div class="hide-for-medium-only top-bar-title">
          {% if page.remove-duplicate-logo == true %}
              <a class="masthead show-for-small-only" href="{{site.baseurl}}/"><img alt="website logo image homepage link" src="{{site.baseurl}}/assets/img/thriving-ag-logo-web@2x.jpg"/></a>
          {% else %}
               <a class="masthead" href="{{site.baseurl}}/"><img alt="website logo image homepage link" src="{{site.baseurl}}/assets/img/thriving-ag-logo-web@2x.jpg"/></a>
          {% endif %}
         
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium" class="menu-button">
          <button class="menu-icon" type="button" data-toggle></button>
        </span>
      </div>
      {% include top-menu.html %}
    </div>
  </div>