// Colors
$btn-color-1:#fff; //white
$footer-text-color:rgb(199, 199, 199);
$footer-text-color-hover:rgb(168, 216, 238);

.footer {
	background-color: #464646;
	// color:#efefef;
	padding-top:12vh;
	padding-bottom:12vh;
	margin-top:0;
	text-align: center;
	p a {
		
		color:$footer-text-color;
	}
	p {
		color:$footer-text-color;
	}

	a.expanded.button {
		    background-color: transparent;
    		border: 2px solid $btn-color-1;
    		border-radius: 5px;

    	&:hover, &:focus {
    		background-color: $btn-color-1;
    		color:$footer-text-color-hover;
    	}
	}
}