---
layout: page
title: Stakeholder Advisory Board
enable-banner: true
enable-header: true
permalink: "/about/stakeholder-advisory-board/"
page-sections: []

---
{% assign groups = site.stakeholder-groups | sort: "page-order" %}
{% for group in groups %}
<h2>{{group.title}}</h2>
<p>{{ group.description}}</p>
    {% assign people = group.associated-people %}
    {% if people != 0 %}
        {% for person_name in people %}
        
        {% assign person_array = site.people | where: "name", person_name %}
            {% for person in person_array %}
            <h3>{{ person.name }}</h3>
            <p>{{ person.professional-title }}</p>
            <p>{{ person.email }}</p>
            {% endfor %}
        {% endfor %}
    {% endif %}
{% endfor %}