---
layout: default
---

{% if page.enable-header == true %}
{% include top-bar.html %}
    {% if page.enable-banner == true %}
        <div class="svg-header isolate {{page.title | slugify }}-banner" style="background: url('/{{ page.image }}') center center/cover no-repeat;">
          <div class="row header-content">
            {% if page.text-heading == '' or page.text-heading == empty or page.text-heading == null %}  
            {% else %}
            <div class="small-12 center columns">
              <h2 class="header-attn-text">{{ page.text-heading}}</h2>
              </div>
            {% endif %}
          </div>
        </div>
    {% endif %}
{% else%}

{% include top-bar.html %}

{% endif %}
{% if page.breadcrumbs == true %}
    {% include breadcrumbs.html %}
{% endif %}
<div class="row head-spacing foot-spacing">
    <div class="small-12 columns">
      {{ content }}
    </div>
</div>