---
layout: page
---

<div class="row head-spacing foot-spacing">
  <div class="small-12 medium-4 columns">
    {% if page.primary-image and page.primary-image != empty and page.primary-image != '' and page.primary-image != null %}
    <img alt="Image for {{ page.title}}" src="/{{ page.primary-image }}">
    {% endif %}
  </div>
  
  <div class="small-12 medium-8 columns">
    
    <h1 class="title">{{ page.title}}</h1>
    {% capture orig_url %}{{ page.website | split:"."}}{% endcapture %}
    
    {% if orig_url contains "http" %}
    {% assign updated_url = page.website %}
    <p><a href="{{ updated_url }}">{{ page.website }}</a></p>
    {% else %}
    {% assign updated_url = page.website | prepend: 'https://' %}
    <p><a href="{{ updated_url }}">{{ page.website }}</a></p>
    {% endif %}
    

    {{ content }}
    
    <div class="row">
      {% if page.image-gallery and page.image-gallery != empty and page.image-gallery != '' and page.image-gallery != null %}
      <div class="small-12 columns head-spacing">
        <h2>Media and Communications</h2>
        <hr>
        {% assign image = page.image-gallery %}
        {% include image-gallery.html display_mode='lightbox' image=image enable_caption=true %}
      </div>
      {% endif %}
      <div class="small-12 columns head-spacing foot-spacing">
        <h2>Project Team</h2>
        <hr>
        {% include associated-people.html display-card=true display-raw=false name=true image=true professional-title=true email=true link-to-bio-page=true link-to-personal-website=true linkedin=true twitter=true facebook=true instagram=true %}
      </div>
    </div>

  </div>
</div>